$backgroundColour: #F9F9F9;
$foregroundColour: #D3A36D;
$backgroundImage: '../img/svg/tea-leaves.svg';

body{
  background-color: $backgroundColour;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .05;
    z-index: -1;
    background-image: url($backgroundImage);
    background-repeat: no-repeat;
    background-size: cover;
  }
}